extends layout

block content
  h1= title
  p Welcome to #{title}
  //<html> <label for="avatar">Importer une facture:</label> <input type="file" id="avatar" name="avatar"> </html>

  <html><p>Image Upload</p><form method="post" action="file" enctype="multipart/form-data"> <input type="file" name="image" /><br /><br />  <button type="submit" name="upload">Upload</button> </form> </body></html>
