extends layout

block content
  h1= title
  p Welcome to #{title}
  //<html> <label for="avatar">Importer une facture:</label> <input type="file" id="avatar" name="avatar"> </html>

  <html><form method="post" action="/file" enctype="multipart/form-data"> <div> <label for="file">Importer une facture:</label> <input type="file" id="file" name="file" multiple></div><div><button>Envoyer</button> </div></form></html>

  
